@import "blocks/variables";
@import "blocks/main";
@import "blocks/modal";
@import "blocks/media";

* {
	box-sizing: border-box;
	font-family: "Lab Grotesque", sans-serif;
	margin: 0;
	padding: 0;
}




